# Crow's CyberPunk Colors
[general]
[input]
[output]
[color]
gradient = 1
gradient_count = 8
# (Deep Night)
gradient_color_1 = '#0A0A12'
# (Dark Purple)
gradient_color_2 = '#1E0033'
# (Electric Violet)
gradient_color_3 = '#BD00FF'
# (Magenta/Pink)
gradient_color_4 = '#FF00FF'
# (Vivid Red-Pink)
gradient_color_5 = '#FF3366'
# (Neon Orange)
gradient_color_6 = '#FF9900'
# (Cyberpunk Yellow)
gradient_color_7 = '#FCEE0C'
# (Electric Cyan)
gradient_color_8 = '#00FFFF'
[smoothing]
[eq]
