# Crow's Darkwave Colors
[general]
[input]
[output]
[color]
gradient = 1
gradient_count = 8
# (True Black)
gradient_color_1 = '#050505'
# (Midnight)
gradient_color_2 = '#10051a'
# (Deep Purple)
gradient_color_3 = '#1d0a2b'
# (Dark Nebula)
gradient_color_4 = '#2a0f3d'
# (Deep Violet)
gradient_color_5 = '#37144e'
# (Amethyst Shade)
gradient_color_6 = '#45195f'
# (Dark Grape)
gradient_color_7 = '#521e70'
# (Dark Purple)
gradient_color_8 = '#602381'
[smoothing]
[eq]
