
# Crow's Darkwave Colors 2
[general]
[input]
[output]
[color]
gradient = 1
gradient_count = 8
# (Pure Black)
gradient_color_1 = '#000000'
# (Black Ink)
gradient_color_2 = '#070D02'
# (Eerie Black)
gradient_color_3 = '#1A1A1A'
# (Darkwave Navy)
gradient_color_4 = '#00003B'
# (Deep Synth Purple)
gradient_color_5 = '#33003B'
# (Dark Magenta)
gradient_color_6 = '#66003B'
# (Crimson Noir)
gradient_color_7 = '#99003B'
# (Vibrant Neon Accent)
gradient_color_8 = '#CC003B'
[smoothing]
[eq]
