# Matrix Style Gradient
[general]
[input]
[output]
[color]
gradient = 1
gradient_count = 8
# (Black)
gradient_color_1 = '#000000'
# ()
gradient_color_2 = '#021903'
# ()
gradient_color_3 = '#053307'
# ()
gradient_color_4 = '#084C0B'
# ()
gradient_color_5 = '#0A660E'
# ()
gradient_color_6 = '#0D8012'
# ()
gradient_color_7 = '#109916'
# (Green)
gradient_color_8 = '#13B11D'
[smoothing]
[eq]
