# Purple Red
[general]
[input]
[output]
[color]
gradient = 1
gradient_count = 8
gradient_color_1 = '#851197'
gradient_color_2 = '#971188'
gradient_color_3 = '#971188'
gradient_color_4 = '#971167'
gradient_color_5 = '#971145'
gradient_color_6 = '#971123'
gradient_color_7 = '#971123'
gradient_color_8 = '#972011'
[smoothing]
[eq]

