# Purple Orange Yellow
[general]
[input]
[output]
[color]
gradient = 1
gradient_count = 8
gradient_color_1 = '#B919E5'
gradient_color_2 = '#E519AC'
gradient_color_3 = '#E51946'
gradient_color_4 = '#E51946'
gradient_color_5 = '#E55319'
gradient_color_6 = '#E5B919'
gradient_color_7 = '#ACE519'
gradient_color_8 = '#ACE519'
[smoothing]
[eq]
