# Purple to Light
[general]
[input]
[output]
[color]
gradient = 1
gradient_count = 8
gradient_color_1 = '#fe18e5'
gradient_color_2 = '#C9A8CF'
gradient_color_3 = '#DEB2DA'
gradient_color_4 = '#AE8CAA'
gradient_color_5 = '#AE8CAA'
gradient_color_6 = '#DEB2DA'
gradient_color_7 = '#CFA8BC'
gradient_color_8 = '#F8CFFF'
[smoothing]
[eq]
