# REd Orange Red
[general]
[input]
[output]
[color]
gradient = 1
gradient_count = 8
gradient_color_1 = '#A01400'
gradient_color_2 = '#BC4400'
gradient_color_3 = '#C34600'
gradient_color_4 = '#F85706'
gradient_color_5 = '#F85706'
gradient_color_6 = '#F85706'
gradient_color_7 = '#A01400'
gradient_color_8 = '#A01400'
[smoothing]
[eq]
